<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>Contact me for correction/update</strong></li>
          <li><a href="mailto:{{ site.academic_email }}">{{ site.academic_email }}</a></li>
          <li><a href="mailto:{{ site.general_email }}">{{ site.general_email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
         <p class="text">
{{ site.description }} 
      </div>
    </div>

  </div>

</footer>
